table {
  margin: 10px 10px 10px 10px;
  width: 90%;
}
.btn {
  background-color:#c2185b;
  margin-right: 50px;
  margin-top: 10px ;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid ;
}


