
<article>
  <thead>Service</thead>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="Nr">
    <th mat-header-cell *matHeaderCellDef> Nr </th>
    <td mat-cell *matCellDef="let element"> {{element.nr}} </td>
  </ng-container>


  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef> service name </th>
    <td mat-cell *matCellDef="let element"> {{element.service_name}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



  <ng-container matColumnDef="buchen"  >
    <th mat-header-cell *matHeaderCellDef > Actions </th>
    <td mat-cell *matCellDef="let row"  >
      <button>Buchen</button>
    </td>
  </ng-container>


</table>
</article>

<mat-form-field class="kap" appearance="fill">
  <mat-label >kapzität</mat-label>
  <input  matInput class="kap" value="10"  readonly>
</mat-form-field>

<mat-form-field class="termin" appearance="fill">
  <mat-label >Termin</mat-label>
  <input  matInput type="date" >
  <input type="submit" value="Anfrage schicken"  >
</mat-form-field>

<hr>

<h2 > Angebot</h2>

<mat-list role="list" *ngFor="let anbieter of angeboten">
  <mat-list-item role="listitem">{{anbieter}}

    <mat-radio-group aria-label="Select an option" class="rd">

      <mat-radio-button value="1">annehmen </mat-radio-button>

      <mat-radio-button value="2">ablehnen</mat-radio-button>

    </mat-radio-group>
  </mat-list-item>
</mat-list>
