th , td{
  margin: 10px 10px 10px 10px;
}
table{
  width: 80%;
}
.kap{
  width: 40px;
  margin: 2px 2px 2px 2px;

}
.termin{
  width: 40px;
  margin: 2px 2px 2px 2px;

}
.rd{
  margin: 10px 10px 10px 10px;

}
