<div>
    <span>
        <mat-card>
            <mat-card-title>Vielen Dank für Ihre Registrierung, {{user?.username}}</mat-card-title>
            <mat-card-content>
            </mat-card-content>
            <hr>
            <br>
            <mat-card-footer>
                <div class="button-center">
                    <button class="button-full-width" color="danger" mat-raised-button (click)="dashboard()">
                        Dashboard anzeigen
                    </button>
                </div>
                <br>
            </mat-card-footer>
        </mat-card>
    </span>