<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [mode]="'side'" [opened]="false">
    <mat-nav-list>
      <a mat-list-item [routerLink]="sections['lagerhalter']">Profil</a>
      <a mat-list-item [routerLink]="sections['lager']">Lager</a>
      <a mat-list-item [routerLink]="sections['fahrzeug']">Fahrzeug</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isLoggedIn()" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span><b>VintageCarCommunity</b></span>
      <span class="spacer"></span>
      <div *ngIf="isLoggedIn()" class="button-end">
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>