<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Sign Up</h3>
            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #userEmail required />
            </div>
            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPwd required />
            </div>
            <div class="formGroup">
                <button mat-button (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
            </div>
            <div class="formGroup">
                <span>Or</span>
            </div>
            <!-- Continue with Google -->
            <div class="formGroup">
                Continue with Google
                <button mat-button (click)="authService.GoogleAuth()">
                    <!-- <mat-icon fontIcon="google"></mat-icon> -->
                </button>
            </div>
        </div>
        <div>
            <span>Already have an account?
                <button mat-button (click)="login()">Login</button>
            </span>

        </div>
    </div>
</div>