<div>
    <span>
        <mat-card>
            <mat-card-title>Registerieren</mat-card-title>
            <mat-card-content>
                <form [formGroup]="signupForm" (ngSubmit)="register()">
                    <mat-form-field appearance="fill">
                        <mat-label>Benutzername</mat-label>
                        <input type="name" matInput placeholder="Ex. Saul Goodman" formControlName="name">
                        <mat-error *ngIf="signupForm.controls['name'].hasError('required')">
                            Benutzername ist <strong>erforderlich</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
                        <mat-error
                            *ngIf="signupForm.controls['email'].hasError('email') && !signupForm.controls['email'].hasError('required')">
                            Bitte geben Sie eine valide Email Adresse an
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
                            Email Adresse ist <strong>erforderlich</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Passwort</mat-label>
                        <input type="password" matInput placeholder="password" formControlName="password">
                        <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
                            Passwort ist <strong>erforderlich</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Ich bin ...</mat-label>
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let role of roles" [value]="role">
                                {{role.valueOf()}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="button-end">
                        <button type="submit" [disabled]="signupForm.invalid" color="primary"
                            mat-raised-button>Registerieren</button>
                    </div>
                    <br>
                </form>
            </mat-card-content>
            <hr>
            <br>
            <mat-card-footer>
                <br>
                <div class="button-center">
                    <button class="button-full-width" color="danger" mat-raised-button
                        (click)="login()">Anmelden</button>
                </div>
                <br>
            </mat-card-footer>
        </mat-card>
    </span>