<div class="container">
    <!-- Für die Suchbereich-->
    <div>
        <span>
            <mat-card>
                <mat-card-title> 🔎 Hier können Sie Stellplätze oder Ersatzteilen suchen.</mat-card-title>
                <mat-card-content>
                    <form [formGroup]="suchForm">

                        <div >
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Stellplatz</mat-radio-button>
                                <mat-radio-button value="2">Ersatzteil</mat-radio-button>
                            </mat-radio-group>

                        </div>
                        <mat-form-field appearance="fill">
                            <mat-label>Stadt</mat-label>
                            <mat-select required formControlName="stadt">
                              <mat-option *ngFor="let stadt of stadtList" [value]="stadt" >{{stadt.stadtName}}</mat-option>
                             
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Fahrzeug</mat-label>
                            <mat-select required formControlName="fahrzeug">
                                <mat-option *ngFor="let fahrzeug of fahrzeugList" [value]="fahrzeug">{{fahrzeug.fahrzeugMarke}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="button-center">
                            <button type="submit" color="primary" [disabled]="suchForm.invalid"mat-raised-button (click)="zeigeSuchErgebnis()">Suchen</button>
                        </div>
                        <br>

                    </form>
                </mat-card-content>
                <br>
                
            </mat-card>
        </span>
    </div>
    <br>

    <!-- Für die Suchergebnissen-->
    <div >
        <span >
            <mat-card>
                <mat-card-title> Suchergebnisse</mat-card-title>
                <mat-card-content>

                    <!-- zu Treffen-->
                    <div *ngIf="suchStatus == true">
                        <table  *ngFor="let lage of getlage |async" mat-table [dataSource]="suchergebnisse" class="mat-elevation-z8" matSort>

                            <!-- Name  -->
                            <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let cell"> {{cell.name}}</td>
                            </ng-container>

                            <!-- Anschrift-->
                            <ng-container matColumnDef="anschrift">
                            <th mat-header-cell *matHeaderCellDef> Anschrift </th>
                            <td mat-cell *matCellDef="let cell"> {{cell.anschrift}} </td>
                            </ng-container>
                        
                            <!-- Kapazität  -->
                            <ng-container matColumnDef="kapazitaet">
                            <th mat-header-cell *matHeaderCellDef> Kapazität </th>
                            <td mat-cell *matCellDef="let cell"> {{cell.lakapazitaet}} </td>
                            </ng-container>
                        
                            <!-- Kosten -->
                            <ng-container matColumnDef="kosten">
                            <th mat-header-cell *matHeaderCellDef> Kosten </th>
                            <td mat-cell *matCellDef="let cell"> {{cell.kosten}} </td>
                            </ng-container>
                        
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <!-- Nichts zu Treffen-->
                    <div *ngIf="suchStatus == false">

                        Kein Ergebnis !

                    </div>

                </mat-card-content>
  
            </mat-card>
        </span>
    
    </div> 


    <ul *ngFor="let lage of getlage |async">
        <li>
            {{lage.ort['bundesland']}} <br>
            {{lage.konditionen}}<br>
            {{lage.einlagerungsbetrag}}<br>
            {{lage.kapazitaet}}
        </li>
    </ul>

</div>
